.banner {
    width: 100%;
    height: 100vh;
    margin-top: 50px;
    display: flex;
    align-items: center;
    background-color: #FAFAFA;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }
  
  .banner > div > div {
    align-items: center;
  }
  
  .banner .brand {
    display: flex;
    align-items: center;
  }
  
  .banner .brand img {
    width: 100%;
  }
  
  .banner .title {
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
    font-family: "Roboto", sans-serif;
  }

  .banner .caption {
    font-weight: 700;
  }

  .banner .shopping-button {
    display: flex;
    text-align: center;
    color: #ffffff;
    background-color: #1d1d1d;
    width: 10rem;
    justify-content: center;
    margin: 0 auto;
    border-radius: 20px;
  }
  
  .banner .shopping-button:hover {
    color: #111111;
    background-color: #dddddd;
  }

  @media (min-width: 800px) {
    .banner .title {
      font-size: 55px;
      text-align: left;
    }

    .banner .shopping-button {
      color: #ffffff;
      background-color: #1d1d1d;
      width: 10rem;
      border-radius: 20px;
      margin: 0;

    }
  }
  